*{
    margin: 0;
    padding: 0;
}
header{
    padding: 20px;
    text-align: right;
    font-family: "Roboto", sans-serif;
    background-color: aquamarine;
}
ul{
}
li{
    padding-left: 10px;
    display: inline;
}
a{
    color: black;
    display: inline-block;
    text-decoration: none;
    transition: transform 0.2s ease, color 0.2s ease;
}
a:visited{
    color: green;
}
a:hover, a:focus{
    color: blue;
    transform: scale(1.2rem);
}
a:active{
    color: red;
}